/*:root {
    --brown: #C1A475;
    --salmon: #FF6162;
    --black: #000000;
    --gray: #869194;
    --white: #FFFFFF;

    --salmon-light: #FF8E8F;

    --salmon-shadow: rgba(255, 97, 98, 0.5);
}*/

/* fuentes -----------------------------------------------*/
@font-face {
    font-family: 'Oranienbaum';
    src: url('../assets/fonts/Oranienbaum/Oranienbaum-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

* {
    font-family: 'Roboto', calibri;
    font-size: 18px;
}

.title-font {
    font-family: 'Oranienbaum', sans-serif;
}

.normal-font {
    font-family: 'Roboto', calibri;
}


/* global ------------------------------------------------*/
/* imagen responsive */
.image-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.responsive-image {
    width: 100%;
    height: auto;
}

/* texto */
.title-1 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 50px;
}

.title-2 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 36px;
}

.title-3 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 25px;
}

.large-text {
    font-size: 20px;
}

/* estilos de texto */
.bold-text {
    font-weight: bold;
}

.italic-text {
    font-weight: italic;
}

/* inputs */

.custom-input-b { /* border */
    border: 2px solid black;
}

.custom-input-bb { /* border-bottom */
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
}

.custom-input-b:focus, .custom-input-bb:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--salmon) !important;
}

/* buttons */
.custom-button {
    border: 1px solid black;
    border-radius: 0;
    background-color: var(--salmon);
    color: var(--black);
}

.custom-button:hover {
    border: 1px solid black;
    background-color: var(--salmon-light);
    color: var(--black);
}

.custom-button:active {
    border: 1px solid black !important;
    background-color: var(--salmon-light) !important;
    color: var(--black) !important;
}

.custom-button:focus-visible {
    border: 1px solid black;
    background-color: var(--salmon);
    color: var(--black);
    box-shadow: 0 0 0 0.25rem var(--salmon-shadow);
}

/* links */
.custom-link {
    color: var(--black);
}

.dropdown-link:active {
    background-color: var(--salmon-light);
}

/* borders */
.bordered {
    border: 2px solid black;
}

.b-bordered {
    border-bottom: 2px solid black;
}

.t-bordered {
    border-top: 2px solid black;
}

.smooth-radius {
    border-radius: 2px;
}

/* header ------------------------------------------------*/
/* navbar */
#header-logo {
    max-width: 100px;
    height: auto;
}

#dropdown-login {
    font-size: 30px;
}

/* main --------------------------------------------------*/
#main-container .container {
    border: 2px solid black;
    padding: 12px;
}

#main-container #why-buy-with-us i {
    font-size: 50px;
}

/* login ------------------------------------------*/
#login-container .row .col {
    min-width: 150px;
}

#login-box {
    max-width: 400px;
}

/* registrarse ------------------------------------*/
#signup-container .row .col {
    min-width: 150px;
}