:root {
    --brown: #C1A475;
    --salmon: #FF6162;
    --black: #000000;
    --gray: #869194;
    --white: #FFFFFF;

    --salmon-light: #FF8E8F;

    --salmon-shadow: rgba(255, 97, 98, 0.5)
}

/* fuentes ====================================================================================*/
@font-face {
    font-family: 'Oranienbaum';
    src: url('../assets/fonts/Oranienbaum/Oranienbaum-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

* {
    font-family: 'Roboto', calibri;
    font-size: 18px;
}

.title-font {
    font-family: 'Oranienbaum', sans-serif;
}

.normal-font {
    font-family: 'Roboto', calibri;
}

/* genéricos ==================================================================================*/
/* elementos responsive ------------------------*/
.responsive-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

/* texto ---------------------------------------*/
.title-1 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 50px;
}

.title-2 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 36px;
}

.title-3 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 25px;
}

a {color: black;}

/* estilos de texto ----------------------------*/
.bold-text { font-weight: bold;}

.italic-text { font-weight: italic;}

/* botones -------------------------------------*/
.primary-btn {
    border: 1px solid black;
    border-radius: 0px;
    background-color: var(--salmon);
    color: var(--black);
}

.primary-btn:hover {
    border: 1px solid black;
    background-color: var(--salmon-light);
    color: var(--black);
}

.primary-btn:active {
    border: 1px solid black !important;
    background-color: var(--salmon-light) !important;
    color: var(--black) !important;
}

.primary-btn:focus-visible {
    border: 1px solid black;
    background-color: var(--salmon);
    color: var(--black);
    box-shadow: 0 0 0 0.25rem var(--salmon-shadow);
}

/* estilos de bordes ---------------------------*/
.b-1 { border: 1px solid black;} .b-2 { border: 2px solid black;}

.b-b-1 { border-bottom: 1px solid black;} .b-b-2 { border-bottom: 2px solid black;}

.t-b-1 { border-top: 1px solid black;} .t-b-2 { border-top: 2px solid black;}

.smoothed-border { border-radius: 5px;}

.bc-gray { border-color: gray;}

/* actions ---------------------------------------*/
.primary-input:focus {
    outline: 2px solid black;
    box-shadow: none;
}




/* personalizadas =============================================================================*/
#header-logo {
    max-width: 100px;
    height: auto;
}