:root {
    --green: rgb(112, 128, 109);
    --light-green: rgb(139, 154, 137);
    --blue: rgb(60, 107, 108);
    --orange: rgb(250, 94, 25);
    --light-orange: rgb(251, 119, 61);
    --gray: rgb(227, 226, 222);

    --shadow-green: rgba(112, 128, 109, 0.6);
    --shadow-orange: rgba(250, 94, 25, 0.6);
}

/* fuentes ====================================================================================*/
@font-face {
    font-family: 'Oranienbaum';
    src: url('../assets/fonts/Oranienbaum/Oranienbaum-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

* {
    font-family: 'Roboto', calibri;
    font-size: 18px;
}

.title-font {
    font-family: 'Oranienbaum', sans-serif;
}

.normal-font {
    font-family: 'Roboto', calibri;
}

/* genéricos ==================================================================================*/
/* display utilities----------------------------*/
.bg-red { background-color: red;} .bg-black { background-color: black; }

.no-decoration {text-decoration: none; }

.no-spacing { padding: 0; margin: 0}

.no-padding { padding: 0;}

.auto-w { width: 300px;}

/* colores -------------------------------------*/
.bg-sgreen { background-color: var(--shadow-green);}
.bg-blue { background-color: var(--blue);}
.c-orange { color: var(--orange);}
.c-green { color: var(--green);}

/* margenes ------------------------------------*/
.my-6 { margin-top: 6rem; margin-bottom: 6rem;}

.mt-6 { margin-top: 6rem;}

.mt-7 { margin-top: 8rem;}

/* elementos responsive ------------------------*/
.responsive-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

/* texto ---------------------------------------*/
.title-1 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 50px;
}

.title-2 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 36px;
}

.title-3 {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 25px;
}

a {color: #000;}

/* estilos de texto ----------------------------*/
.bold-text { font-weight: bold;}

.italic-text { font-weight: italic;}

/* botones -------------------------------------*/
.primary-btn {
    border: 1px solid black;
    border-radius: 0px;
    background-color: var(--green);
    color: black;
}

.primary-btn:hover, .primary-btn:active {
    border: 1px solid black !important;
    background-color: var(--light-green) !important;
    color: black !important;
}

.primary-btn:focus-visible {
    border: 1px solid black;
    background-color: var(--green);
    color: black;
    box-shadow: 0 0 0 0.25rem var(--shadow-green);
}

.secondary-btn {
    border: 1px solid black;
    border-radius: 0;
    background-color: var(--orange);
    color: black;
}

.secondary-btn:hover, .secondary-btn:active {
    border: 1px solid black;
    background-color: var(--light-orange);
    color: black;
}

.secondary-btn:focus-visible {
    border: 1px solid black;
    background-color: var(--orange);
    color: black;
    box-shadow: 0 0 0 0.25rem var(--shadow-orange);
}

/* bordes --------------------------------------*/
.b-1 { border: 1px solid var(--green);} .b-2 { border: 2px solid var(--green);}

.bb-1 { border-bottom: 1px solid var(--green);} .bb-2 { border-bottom: 2px solid var(--green);}

.tb-1 { border-top: 1px solid var(--green);} .tb-2 { border-top: 2px solid var(--green);}

.smoothed-border { border-radius: 5px;}

.bc-gray { border-color: var(--gray);}

/* inputs ----------------------------------------*/
.primary-input:focus {
    outline: 2px solid var(--green);
    border-color: var(--gray);
    box-shadow: none;
}

.primary-input:focus-visible {
    outline: 2px solid var(--green);
    border-color: var(--gray);
    box-shadow: 0 0 0 0.25rem var(--shadow-green);
}

.secondary-input {
    border: none;
    border-bottom: 2px solid var(--green);
    border-radius: 0;
}

.secondary-input:focus {
    border-bottom: 2px solid var(--orange);
    box-shadow: none;
}

/* actions utilities -----------------------------*/
.green-shadow:focus-visible { box-shadow: 0 0 0 0.25rem var(--shadow-green);}

.dropdown-link:active { background-color: var(--light-green);}

/* personalizadas =============================================================================*/
#header-logo {
    max-width: 100px;
    height: auto;
}

/*:root {
    --brown: rgb(193, 164, 117);
    --salmon: rgb(255, 97, 98);
    --gray: rgb(134, 145, 148);

    --salmon-light: rgb(255, 142, 143);

    --salmon-shadow: rgba(255, 97, 98, 0.5)
}*/