<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<!-- Metadata -->
	<meta charset="UTF-8">
	<meta name="author" content="Sebastian Velasquez">
	<meta name="description" content="Página principal del sitio web de Papiro&Tinta">
	<meta name="keywords" content="libreria, librería, libros online">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Titulo -->
	<title>Papiro&Tinta | Página Principal del sitio web de Papiro & Tinta</title>
	<!-- favicon -->
	<link rel="icon" href="{% static 'assets/favicon.png' %}" type="image/png">
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<!-- Bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<!-- CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
	<div class="container d-flex flex-column align-items-center text-center w-100 my-5 b-2">
		        <div class="row w-100 mt-4">
			        <h2 class="title-2">EXPLORA</h2>
		        </div>
		        <div class="row w-100 mb-1">
			        <span class="mb-1">Busca tu libro preferido</span>
		        </div>
		        <div class="row w-100">
			        <form class="d-flex" role="search">
				        <input class="form-control me-2 primary-input b-1 bc-gray" type="search" placeholder="Buscar libros..." aria-label="Buscar libros">
				        <button class="btn primary-btn" type="submit"><i class="bi bi-search"></i></button>
			        </form>
		        </div>
		        <div class="row w-100 my-3">
			        <span class="title-2">Ó</span>
		        </div>
		        <div class="row w-100 mb-1">
			        <span>Busca tu género favorito</span>
		        </div>
		        <div class="row w-100">
			        <div class="dropdown">
				        <button class="dropdown-toggle primary-btn px-2 py-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					        selecciona el género...
				        </button>
				        <ul class="dropdown-menu">
					        <li><a class="dropdown-item custom-link dropdown-link" href="#">Genero 1</a></li>
					        <li><a class="dropdown-item custom-link dropdown-link" href="#">Genero 2</a></li>
					        <li><a class="dropdown-item custom-link dropdown-link" href="#">Genero 3</a></li>
				        </ul>
			        </div>
		        </div>
		        <div class="row w-100 mt-4 my-4">
			        <div class="d-flex justify-content-center">
				        <a class="me-2" href="{% url 'login_url' %}">¿Ya tienes una cuenta?</a>
				        <a href="{% url 'register_url' %}">Regístrate aquí</a>
			        </div>
		        </div>
            </div>
	
	<!-- JS Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

