<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<!-- Metadata -->
	<meta charset="UTF-8">
	<meta name="author" content="Sebastian Velasquez">
	<meta name="description" content="Log-in del sitio web de Papiro&Tinta">
	<meta name="keywords" content="libreria, librería, libros online">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Titulo -->
	<title>Iniciar Sesión | Papiro & Tinta</title>
	<!-- favicon -->
	<link rel="icon" href="{% static 'assets/favicon.png' %}" type="image/png">
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<!-- Bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<!-- FontAwesome icons -->
	<script src="https://kit.fontawesome.com/f53f4ad4af.js" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
	<main>
		<div class="container d-flex align-items-center vh-100" id="login-container">
			<div class="row justify-content-center">
				<div class="col col-2 d-none d-sm-none d-md-block align-self-start">
					<img src="{% static 'assets/images/flower.png' %}" alt="Imagen de una flor" class="img-fluid">
	            </div>
				<div class="col-md-auto align-self-center" id="login-box">
					<h1 class="xl-text title-font">Iniciar Sesión</h1>
					<h2 class="l-text title-font">Papiro & Tinta</h2>
			        <form class="py-4" method="post" action="">
				        {% csrf_token %}
				        <div class="form-floating mb-3">
					        <input type="email" class="form-control primary-input" id="floatingEmail" name="email" placeholder="nombre@example.com" required pattern="[^@\s]+@(?!.*\.{2,})(?!.*-{2,})[^@\s]+\.[a-zA-Z]{2,}" title="No es un correo electrónico válido.">
					        <label for="floatingEmail">Correo electrónico</label>
				        </div>
				        <div class="form-floating">
					        <input type="password" class="form-control primary-input" id="floatingPassword" name="password" placeholder="contraseña" required pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d\S]{4,}" title="La contraseña debe tener mínimo 8 caracteres y tener al menos una letra y un número">
					        <label for="floatingPassword">Contraseña</label>
				        </div>
				        <button type="submit" class="btn primary-btn mt-3 custom-button">Iniciar Sesión</button>
			        </form>
			        <p class="mt-2">¿No tienes una cuenta? <a href="{% url 'register_url' %}" class="mt-2 custom-link">Regístrate gratis</a></p>
					<i class="fa-solid fa-arrow-right-to-bracket m-text"></i>
					<a href="{% url 'index' %}"><i class="fa-solid fa-house-chimney m-text c-green"></i></a>
				</div>
				<div class="col col-2 d-none d-sm-none d-md-block align-self-end">
					<img src="{% static 'assets/images/flower-r.png' %}" alt="Imagen de una flor girada 180 grados a la derecha" class="img-fluid">
	            </div>
			</div>
		</div>
	</main>
	
	<!-- JS Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
